.shadow2 {padding-top: 50px ;filter: drop-shadow( 5px 5px 0px black)}

.logoutbtn { display: flex; justify-content: center; align-items:center;
    border: 0px solid black; width:230px ;height: 62px; margin: auto;
    clip-path: polygon(0 16%, 100% 0%, 93% 100%, 5% 86%); background: rgb(247, 245, 245);
    margin-bottom: 20px; font-size: 40px;
    font-family: Impact, Haettenschweiler,  sans-serif;
} 
.logoutbtn:active {background: rgb(219, 218, 218);}