.postList {
  display: flex;
  flex-direction: column-reverse;
  padding: 0;
  max-height: 80.5vh;
  overflow-y: auto;
}
.shadow3 {
  filter: drop-shadow(5px 5px 0px rgba(0, 0, 0, 0.158));
}

.Board {
  text-align: start;
  margin-left: 20px;
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 10px;
}
.title1 {
  display: flex;
  justify-content: center;
  align-items: center;
font-size: 20px;
  border: 0px solid black;
  min-width: 600px;
  max-width: 800px;
  height: 10vh;
  margin-top: 20px;
  clip-path: polygon(0 16%, 100% 0%, 93% 100%, 5% 86%);
  background: rgb(247, 245, 245);

  font-family: Impact, Haettenschweiler, sans-serif;
}
.pWrap {display: flex;
  margin-left:3%;
  
  
}
p {
  font-weight: bold;
  margin-bottom: 10px;
  display: inline-block;
  margin-top: 0px;
  margin-right: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  transform: rotate(-0deg);
}
.modalButton {
  position: absolute;
  right: 50%;
  top: 93%;
  z-index: 100;
  border-radius: 50px;
  border: solid 0px black;
  width: 20%;
  height: 5%;
  background: #fafafab2;
  transform: translateX(50%);
}
.modalButton:hover {
  background: #ffffff;
  border: solid 3px rgb(250, 217, 109);
}
.White {
  top: 0;
  position: absolute;
  width: 110vw;
  background: #ffffff;
  height: 120px;
  transform: rotate(-4deg);
  translate: -0px -40px;
}
.modal {
  width: 100%;
  height: 100vh;
  background-color: rgba(54, 54, 53, 0.459);
  position: fixed;
  top: 0;
  left: 0%;
  z-index: 999;
  display: flex;
  justify-content: center;
}

.titleInput {
  text-align: start;
  height: 6vh;
  margin-top: 5%;
  margin-bottom: 1%;
  display: block;
  width: 70vw;
}
.text {
  text-align: start;
  display: block;
  width: 70vw;
  height: 70vh;
}
.submit { width: 5%; height: 4%;
  margin-top: 20px;
  border: black solid 2px;
  background: #292618;
  color: white;
}
.submit:hover {
  background: #1a239c;
}
.submit:first-of-type { margin-right: 20px; }
.submit:first-of-type:hover { background: #ce3b0f; }


/* 스크롤바 */
::-webkit-scrollbar {
  width: 3px; /* 스크롤바의 너비 */

}

/* 스크롤바 트랙 */
::-webkit-scrollbar-track {
  background-color: #f1f1f100; /* 스크롤바 트랙 배경색 */
}

/* 스크롤바 색상 */
::-webkit-scrollbar-thumb {
  background-color: #10131215; /* 스크롤바 색상 */
}

/* 마우스를 올렸을 때 스크롤바 색상 */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* 마우스 오버 시 스크롤바 색상 */
}
