.LoginBanner {
  width: 70%;
  margin: 40px 0;
  padding-top: 50px;
}
.WrapInner {
  width: 50%;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 780px;
}
